<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <script src="{% static 'a/vendor/jquery/jquery.min.js' %}"></script>
<link href="{% static 'a/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<script src="{% static 'a/vendor/bootstrap/js/bootstrap.min.js' %}"></script>


<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}?ver=1">
<!------ Include the above in your HEAD tag ---------->
</head>

<body>

    {% block content %}
    {% endblock %}

    <script src="{% static 'a/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>