<!DOCTYPE html>
{% load staticfiles %}
{% load account %}
<html>
<head>
	<title>Profile</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'badass.ico'%}"/>
	<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link href="{% static 'a/vendor/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'a/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static "profile.css" %}">
</head>
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }
    </style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url "root" %}">BADASS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
{% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url "accounts:profile" %}">프로필</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url "accounts:logout" %}">로그아웃</a>
            </li>
{% endif %}
{% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url "accounts:login" %}">로그인</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url "accounts:signup" %}">회원가입</a>
            </li>
{% endif %}
          </ul>
        </div>
      </div>
    </nav>

	<div class="container main-section">
		<div class="row">
			<div class="col-lg-12 text-center">
	            <div class="row">
	                <div class="col-lg-6 col-md-12 mb-6 card-main">
	                  	<div class="card-section border rounded p-3">
	                  		<div class="card-header-first card-header-first rounded pb-5">
		                      	<h2 class="card-header-title text-white pt-3">프로필</h2>
		                      	<h5 class="mb-0 pb-4 pt-2 text-white">ID : {{ user.username }}</h5>
	                  		</div>
	                    	<div class="card-body text-center">
	                      		<p class="card-text">설명 2</p>
	                    	</div>
	                  	</div>
	                </div>
	                <div class="col-lg-6 col-md-12 mb-6 card-main">
		                 <div class="card-section card-section-second border rounded ml-4 mr-4">
		                    <div class="card-header card-header-second rounded">
		                       <h2 class="card-header-title mb-3 mt-1 text-white">닉네임 : {{ user.profile.nickname }}</h2>
                            <h5 class="mb-0 pb-4 pt-2 text-white">사는곳 : {{ user.profile.region }}</h5>
		                       <p class="mb-0 text-white"><i class="fa fa-calendar mr-2 text-white pb-3"></i>01-05-2018</p>
		                    </div>
		                    <div class="card-body text-center card-body-second">
		                      	<p class="card-text">설명</p>
		                      	<a href="{% url "accounts:update_profile"%}" class="orange-text d-flex flex-row-reverse p-1">
		                        	<h5 class="waves-effect waves-light btn btn-primary text-white">수정<i class="fa fa-angle-double-right ml-2"></i></h5>
		                      	</a>
		                    </div>
	                	</div>
	                </div>
	            </div>
			</div>
		</div>
	</div>
</body>
</html>